#canvas{
	height: 500px;
	width: 1000px;
}

.menu{
	float: right;
}

.menu table.colors{
	height: 70px;
	width: 70px;
}

.menu table.colors tr td.blue{
	background-color: blue;
}

.menu table.colors tr td.yellow{
	background-color: yellow;
}

.menu table.colors tr td.red{
	background-color: red;
}

.menu table.colors tr td.green{
	background-color: green;
}

.menu table.heroes tr td img{
	width: 30%;
}